<li [ngClass]="{'list-group-item':true,
                'list-group-item-success': loveIts > 0,
                'list-group-item-danger': loveIts <= 0}">
  <div class="row post">
    <div class="row">
      <div class="col-xs-8"><h3> Post : {{ title}}</h3></div>
      <div class="col-xs-4">
        <h6 class="date">{{created_date | date:'d/M/yyyy, h: mm: ss a' | uppercase }}</h6>
      </div>
    </div>
    <div claa="row">
      <div class="col-xs-10">
        <p>{{content}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-5">
        <button type="button" class="btn btn-success" (click) ="onLoveIts()">LoveIts</button> &nbsp; &nbsp;
        <button type="button" class="btn btn-danger" (click) ="onDontLoveIts()">Don't loveIts</button>
      </div>
      <div class="col-xs-push-6 col-xs-2">
        <input type="text" value="{{loveIts}} likes " size="3" disabled>
      </div>
    </div>
  </div>
