<li class="list-group-item">
  <div class="row post">
    <div class="row">
      <div class="col-xs-8"><h3> Post : {{ title}}</h3></div>
      <div class="col-xs-4">
        <h6 class="date">{{created_date }}</h6>
      </div>
    </div>
    <div claa="row">
      <div class="col-xs-10">
        <p>{{content}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-5">
        <button type="button" class="btn btn-success">LoveIts</button> &nbsp; &nbsp;
        <button type="button" class="btn btn-danger">Don't loveIts</button>
      </div>
    </div>
  </div>
